ASPNETCORE_ENVIRONMENT=Production

# API configuration
API_PORT=5000
DATABASE_CONNECTION=
JWT_SECRET_KEY=
JWT_ISSUER=OpenLicenseApi
JWT_AUDIENCE=OpenLicenseApiUsers
REGISTRATION_ENABLED=true

# Email (SMTP) Configuration
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=

# Frontend configurations
FRONTEND_PORT=3000
VITE_API_URL=
VITE_STATUS_URL=
VITE_SOURCE_URL=
VITE_REGISTRATION_ENABLED=true
